:root {
  --mainColor: #4e64b3;
  --mainColorLight: #eef5ff;
  --secondaryColor: #7c93c3;
  --textColor: #9eb8d9;
  --buttonColor: #00abd0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, 
.custom-navbar .nav-link,
.custom-navbar .nav {
  color: var(--mainColor) !important;
}

.custom-input-btn {
  background-color: #ffffff;
  border: none;
  height: 35px;
  cursor: pointer;
}

.nav_ul a {
  color: #000 !important;
}

/* ========== LOGIN & REGISTER FORM ========== */
.loginForm .row,
.registerForm .row {
  align-items: center;
}

.loginForm p,
.registerForm p {
  text-align: center;
}
/* ========== END LOGIN & REGISTER FORM ========== */


/* ========== TENTANG KAMI ========== */
.tentangKami {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tentangKami p {
  font-size: 18px;
}

.tentangKami img {
  width: 65%;
}

@media screen and (max-width: 768px) {
  .tentangKami {
    margin-top: 30px;
  }

  .tentangKami img {
    width: 50%;
    margin-bottom: 20px;
  }

  .tentangKami p {
    font-size: 16px;
  }
}
/* ========== END TENTANG KAMI ========== */