:root {
  --mainColor: #ee3682;
  --secondaryColor: ;
  --textColor: #000000;
  --buttonColor: #00abd0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tentangkami h2,
.cerita-preview h2 {
  color: var(--mainColor);
  font-weight: bold;
}

/* ========== NAVBAR ========== */
.custom-navbar .nav-link,
.custom-navbar .nav,
.custom-navbar .navbar-brand {
  color: var(--textColor) !important;
  font-weight: bold;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav:hover,
.custom-navbar .nav-link:active,
.custom-navbar .nav:active {
  text-decoration: underline;
}

.custom-input-btn {
  background-color: #ffffff;
  border: none;
  height: 35px;
  cursor: pointer;
}
/* ========== END NAVBAR ========== */

/* ========== LOGIN & REGISTER FORM ========== */

.loginForm .row,
.registerForm .row {
  align-items: center;
}

.loginForm p,
.registerForm p {
  text-align: center;
}
/* ========== END LOGIN & REGISTER FORM ========== */

/* ========== BERANDA HEADER ========== */
.beranda {
  width: 90%;
}

.beranda header {
  height: 90vh;
}

.beranda header,
.beranda header button {
  color: var(--textColor);
}

.beranda header img {
  width: 15%;
}

.beranda header div h1 {
  color: var(--mainColor);
  font-size: 4rem;
  letter-spacing: 1rem;
}

.beranda header button {
  padding: 10px 15px;
  margin-top: 15px;
  background-color: var(--mainColor);
  color: #fff;
  border: 1px solid var(--mainColor);
  border-radius: 5px;
}

.beranda header button:hover {
  background-color: #fff;
  color: var(--mainColor);
}
/* ========== END BERANDA HEADER ========== */

/* ========== TENTANG KAMI ========== */
.tentangkami {
  margin: 0 auto;
  padding: 30px 0;
  text-align: justify;
}

.tentangkami p {
  font-size: 18px;
}

.tentangkami img {
  width: 65%;
}

/* ========== CERITA ========== */
.cerita-preview {
  padding: 50px 0;
}

.cerita-preview .card {
  width: 20rem;
}

.cerita-preview .card a {
  text-decoration: none;
  color: var(--textColor);
}

.cerita-preview .card a:hover {
  text-decoration: underline;
  color: navy;
}

.cerita {
  width: 90%;
}

.cerita .card {
  width: 18rem;
}
/* ========== END CERITA ========== */

/* DETAIL CERITA */
.detail-cerita {
  width: 90%;
  margin: 3rem auto;
}

.detail-cerita img {
  width: 30%;
  float: left;
  margin: 0 2rem 2rem 0;
}
.detail-cerita p{
  text-align: justify;
}

/* ADMIN */
.admin {
  width: 90%;
  margin: 50px auto;
}

.admin{
  width: 100%;
}

.admin .input-group {
  width: 50%;
}
/* END ADMIN */

@media screen and (max-width: 768px) {
  .tentangKami {
    margin-top: 30px;
  }

  .tentangKami img {
    width: 50%;
    margin-bottom: 20px;
  }

  .tentangKami p {
    font-size: 16px;
  }
}