:root {
  --mainColor: rgb(93, 179, 219);
  --mainColorLight: #eef5ff;
  --secondaryColor: #7c93c3;
  --textColor: #9eb8d9;
  --buttonColor: #00abd0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-navbar {
  background-color: var(--mainColor);
}

.custom-input-btn {
  background-color: #ffffff;
  border: none;
  height: 35px;
  cursor: pointer;
}

.nav_ul a {
  color: #000 !important;
}

/* ========== LOGIN & REGISTER FORM ========== */
.loginForm .row,
.registerForm .row {
  align-items: center;
}

.loginForm p,
.registerForm p {
  text-align: center;
}
/* ========== END LOGIN & REGISTER FORM ========== */

.tentangKami p {
  font-size: 18px;
}
